<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="/stylesheets/output.css" />
	</head>

	<body class="bg-primary-dark text-secondary-light">
		<header class="flex justify-between p-5">
			<div class="text-2xl"><span class="text-blue-400">Members</span>Only</div>
			<nav>
				<% if (!currentUser) { %>
				<div class="flex gap-5">
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/log_in"
					>
						<img class="w-5 h-5" src="/images/icons/login.png" alt="" />
						<button>Log In</button>
					</a>
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/sign_up"
					>
						<img class="w-5 h-5" src="/images/icons/signup.png" alt="" />
						<button>Sign Up</button>
					</a>
				</div>
				<% } else { %>
				<div class="flex gap-5">
					<a
						class="transition-all rounded-sm py-1 px-3 hover:border hover:border-secondary-light border border-primary-dark flex justify-center items-center gap-1"
						href="/auth/log_out"
					>
						<img class="w-5 h-5" src="/images/icons/logout.png" alt="" />
						<button>Log out</button>
					</a>
					<!-- TODO: implement user edit and add user profiles -->
					<!-- <div class="flex gap-2">
						<p class="m-auto"><%= currentUser.first_name %></p>
						<img
							class="w-8 h-8 m-auto rounded-full"
							src="/images/default_user.jpg"
							alt=""
						/>
					</div> -->
				</div>
				<% } %>
			</nav>
		</header>
		<main class="flex justify-center items-center flex-col gap-5">
			<h1 class="text-2xl text-white">Messages</h1>
			<% if (messages.length) { %> <% messages.forEach(message => { %>
			<div>
				<h4><%= message.title %></h4>
				<p class="italic"><%= message.date_added %></p>
				<p><%= message.text %></p>
			</div>
			<% }) %> <% } else { %>
			<p class="italic text-red-700">No messages yet</p>
			<% } %>
		</main>
	</body>
</html>
