<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/output.css" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.png" />
	</head>

	<body class="bg-primary-dark text-secondary-light">
		<header class="flex justify-between p-5">
			<div class="text-2xl">
				<a href="/"> <span class="text-blue-400">Members</span>Only </a>
			</div>
		</header>
		<main class="flex justify-center items-center flex-col">
			<h1 class="text-white text-3xl m-5"><%= title %></h1>
			<form
				method="POST"
				class="border border-secondary-light rounded-md p-5 flex flex-col gap-3 w-96"
			>
				<!-- form entry fiels -->

				<div class="flex flex-col gap-1">
					<label for="email">Email:</label>
					<input
						class="p-1 bg-primary-dark border border-secondary-light rounded-sm text-white"
						id="email"
						name="email"
						type="email"
						required
					/>
				</div>

				<div class="flex flex-col gap-1">
					<label for="password">Password:</label>
					<input
						class="p-1 bg-primary-dark border border-secondary-light rounded-sm text-white"
						id="password"
						name="password"
						type="password"
						required
					/>
				</div>

				<!-- form buttons -->
				<div class="flex justify-end gap-2">
					<button
						class="transition-all rounded-md py-1 px-4 hover:border hover:border-blue-700 border border-primary-dark flex justify-center items-center gap-1 bg-blue-700 text-white"
						type="submit"
					>
						Submit
					</button>
				</div>
			</form>
			<% if (errors.length) { %>
			<ul class="flex flex-col gap-1 p-3 items-center">
				<% errors.forEach(error => { %>
				<li class="text-red-500"><%= error.msg %></li>
				<% }) %>
			</ul>
			<% } %>
		</main>
	</body>
</html>
